@using Sandbox;
@using Sandbox.UI;
@using System;
@inherits PanelComponent
@namespace Sandbox


<root>
	<div class="ref"></div>
	<div class="health">
		@* <div class="max-health"/>
		<div class="current-health"/> *@
		<div class="max-health">
			<div class="pill"/>
			<div class="pill"/>
			<div class="pill"/>
			<div class="pill"/>
			<div class="pill"/>
			<div class="pill"/>
			<div class="pill"/>
			<div class="pill"/>
		</div>
		<div class="current-health" style="width: @GetCurrentHealth()">
			<div class="pill"/>
			<div class="pill"/>
			<div class="pill"/>
			<div class="pill"/>
			<div class="pill"/>
			<div class="pill"/>
			<div class="pill"/>
			<div class="pill"/>
		</div>
		<div class="damage" style="width: @GetCurrentHealth()">
			<div class="pill"/>
			<div class="pill"/>
			<div class="pill"/>
			<div class="pill"/>
			<div class="pill"/>
			<div class="pill"/>
			<div class="pill"/>
			<div class="pill"/>
		</div>
	</div>
	<div class="weapons">
		@foreach(GameObject weaponObj in TruckController.Weapons)
		{
			var compCheck = weaponObj.GetComponents<scraprunners.TruckWeapon>();
			if (!compCheck.Any()) return;
			var weapon = compCheck.First();

			<div class="weapon">
				<span>@weapon.Name</span>
				@* <span class="cooldown" style="transition-duration: @GetWeaponFireRate(weapon); @GetWeaponFiringState(weapon)"/> *@
				<span class="cooldown" style="@GetWeaponFiringState(weapon)"/>
			</div>
			@* <div class="weapon">
				<span>Cannon</span>
			</div>
			<div class="weapon">
				<span>Cannon</span>
			</div>
			<div class="weapon">
				<span>Cannon</span>
			</div> *@
		}
	</div>
	<div class="speed">Speed: @GetCurrentSpeed() MPH</div>
	<div class="turn">
		<span class="point" style="left: 50%" />
		<span class="point" style="left: @GetTurnDirection()" />
	</div>
</root>

@code
{

	[Property] public scraprunners.TruckController TruckController;
	[Property] public float SpeedFactor { get; set; } = 1.0f;

	protected string GetCurrentSpeed()
	{
		return $"{(Math.Abs(TruckController.CurrentSpeed) * SpeedFactor):F0}";

	}
	protected string GetTurnDirection()
	{
		float percentage = -1 * (TruckController.TurnDirection / TruckController.TurnSpeed);
		float start = 50f; // initial left: value
		float max = 40f; // maximum addition to left: value in either direction
		return $"{start + max * percentage}%";
	}

	protected string GetCurrentHealth()
	{
		var percentage = TruckController.Health / TruckController.MaxHealth;
		float start = 0f;
		float max = 100f;
		return $"{start + max * percentage}%";
	}

	protected string GetWeaponFiringState(scraprunners.TruckWeapon weapon)
	{
		Log.Info($"Getting Firing State: {weapon.Waiting}");
		if (weapon.Waiting)
		{
			return $"height: 0%; transition: height {weapon.FireRate - 0.1f}s; display: flex";
		} 
		else
		{
			return "height: 100%; transition: height 0s; display: none";
		}
	}

	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash()
	{
		var weapons = "";
		foreach(GameObject weaponObj in TruckController.Weapons)
		{
			var compCheck = weaponObj.GetComponents<scraprunners.TruckWeapon>();
			@* if (!compCheck.Any()) return; *@
			var weapon = compCheck.First();

			weapons += $"{weapon.Waiting}";

		}
		var currentSpeed = MathX.AlmostEqual(TruckController.CurrentSpeed, 0, 0.1f) ? 0 : TruckController.CurrentSpeed;
		var combination = $"{currentSpeed} {TruckController.TurnDirection} {TruckController.MaxHealth} {TruckController.Health} {TruckController.Weapons} {weapons}";
		@* Log.Info(combination); *@
		return System.HashCode.Combine(combination);
		@* return System.HashCode.Combine($"{Time.Now}"); *@
	}
}